.repeatingMode__input {
  background-color: white;
  border-radius: 5px;
  height: 96px;
  width: 506px;
  border: 1px solid #9A9090;
}

.repeatingMode__input_active {
  background-color: rgb(148, 228, 126);
} 

.repeatingMode__input_active:focus { 
  background-color: rgb(148, 228, 126);
}
.repeatingMode__input_active:active { 
  font-weight: bold;
  background-color: rgb(148, 228, 126); 
}