@import url(../../vendor/fonts.css);

.addNewDeckForm {
  /*position: relative;*/
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 50px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  align-items: flex-start;
}

.editProfileForm__button {
  width: 396px;
  height: 45px;
  color: rgb(255, 255, 255);
  background: #325c27;
  border-radius: 3px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  flex-shrink: 0;
  margin-top: 100px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  align-self: center;
}

.addNewDeckForm__title {
  line-height: 50px;
  font-size: 48px;
  font-weight: 700px;
}

.addNewDeckForm__container {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 20px;
}

.addNewDeckForm__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addNewDeckForm__addButton {
  background-color: #3C4548;
  color: #E6F6DF;
  height: 58px;
  width: 158px;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  font-size: 36px;
  font-weight: 700;
}

.addNewDeckForm__button-disabled {
  background: #3C4548;
  cursor: default;
}

.editProfileForm__button-active:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
}

.addNewDeckForm__title-container {
  background-color: white;
  border-radius: 5px;
  height: 62px;
  width: 358px;
  border: 1px solid #9A9090;
}

.addNewDeckForm__description-container {
  background-color: white;
  border-radius: 5px;
  height: 136px;
  width: 358px;
  border: 1px solid #9A9090;
}

.addNewDeckForm__middle-input {
  background-color: white;
  border-radius: 5px;
  height: 96px;
  width: 358px;
  border: 1px solid #9A9090;
}

.addNewDeckForm__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addNewDeckForm__deck {
  margin-top: 20px;
  width: 208px;
  height: 238px;
  background-color: #E7E7E7;
  border-radius: 2px;
  padding: 1px;
  border-radius: 5px;
}

.addNewDeckForm__cover {
  max-width: 156px;
  width: 156px;
  height: 216px;
  background-color: #8C8C8C;
  border-radius: 2px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-radius: 5px;
}

.addNewDeckForm__cover:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0px;
  border-bottom: 50px solid #E7E7E7;
  border-left: 50px solid #8C8C8C;
  border-radius: 5px;
  background-color: #8C8C8C;
}

.addNewDeckForm__cover:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0px;
  border-bottom: 50px solid #E7E7E7;
  border-left: 50px solid #8C8C8C;
  border-radius: 5px;
}

.addNewDeckForm__text {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}

.addNewDeckForm__description-text {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
