@import url(../../vendor/fonts.css);

.deckCover {
  width: 208px;
  height: 238px;
  background-color: #E7E7E7;
  border-radius: 2px;
  padding: 1px;
  border-radius: 5px;
}

.deckCover:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}

.deckCover__cover {
  max-width: 156px;
  width: 156px;
  height: 216px;
  background-color: #3C4548;
  border-radius: 2px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-radius: 5px;
}

.deckCover__addCover {
  max-width: 156px;
  width: 156px;
  height: 216px;
  background-color: #3C4548;
  border-radius: 2px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.deckCover__number {
  margin: 0;
  color: #7EB4A2;
  font-size: 22px;
  font-weight: 700;
}

.deckCover__name {
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  color: white;
}

.deckCover__text {
  margin: 0;
  color: white;
  font-size: 10px;
}

.deckCover__count {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #FF643F;
}

.deckCover__cover:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0px;
  border-bottom: 50px solid #E7E7E7;
  border-left: 50px solid #3C4548;
  border-radius: 5px;
}

.deckCover__addCover:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0px;
  border-bottom: 50px solid #E7E7E7;
  border-left: 50px solid #3C4548;
  border-radius: 5px;
}

/*@media screen and (max-width: 380px) {
  .main__content {
    padding: 0 10px 0px 10px;
  }
}*/