@import url(../../vendor/fonts.css);

.addFlowerForm__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-basis: auto;
  align-self: center;
  z-index: 2;
  max-width: 410px;
  padding: 30px 0px 30px 0px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  align-items: center;
  gap: 20px;
}

.addFlowerForm__title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  color: rgb(0, 0, 0);
  margin: 0;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  align-self: center;
} 

.addFlowerForm__edit-link {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #b3b2b2;
  margin: 0;
}

.addFlowerForm__text {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin: 0;
}

.addFlowerForm__underbottom-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}

.addFlowerForm__underbottom-text:last-child {
  color: #FF004D;
}

.addFlowerForm__botLink {
  text-decoration: none;
  border: none;
  color: #349806;
}

.addFlowerForm__botLink:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 500px) {
  .addFlowerForm__underbottom-text {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 770px) {
  .addFlowerForm__container {
    padding: 40px 0px 40px 0px;
  }
}

@media screen and (max-width: 500px) {
  .addFlowerForm__container {
    padding: 40px 20px 40px 20px;
  }
}

@media screen and (max-width: 770px) {
  .addFlowerForm__title {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .addFlowerForm__title {
    padding-bottom: 25px;
  }
}

.addFlowerForm__link {
  text-decoration: none;
  border: none;
}

.addFlowerForm__link-disabled {
  text-decoration: none;
  border: none;
  color: #A0A0A0;
  background-color: #FAFAFA;
}

.addFlowerForm__link:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: 0.5s;
}

.addFlowerForm__link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .addFlowerForm__link-container {
    padding-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .addFlowerForm__link-container {
    padding-top: 40px;
    flex-direction: column;
  }
}

.addFlowerForm__row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  background-color: #f6f6e9;
  border-radius: 15px;
  height: 40px;
  position: relative;
  padding-left: 15px;
  color: #7e666d;
  width: 360px;
}

@media screen and (max-width: 420px) {
  .addFlowerForm__row-container {
    width: 270px;
  }
}

.addFlowerForm__row-container:nth-child(6) {
  border-bottom: none;
  border-top: 1px solid #E6E6E6;
  padding-top: 16px;
}

.addFlowerForm__row-container:-webkit-autofill,
.addFlowerForm__row-container:-webkit-autofill:hover,
.addFlowerForm__row-container:-webkit-autofill:focus,
.addFlowerForm__row-container:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #FAFAFA inset !important;
}

.addFlowerForm__row-container:focus-visible {
  outline: #E6E6E6 auto 0px;
}

.addFlowerForm__input-error {
  min-height: 16px;
  color: #FF004D;
}

.addFlowerForm__row-container::-webkit-input-placeholder {
  color: black;
}

.addFlowerForm__row-container:focus {
  border: none;
}

.addFlowerForm__span-userName-text {
  text-align: end;
  position: absolute;
  top: 228px;
  right: 0;
  z-index: 2;
}

.addFlowerForm__span-email-text {
  text-align: end;
  position: absolute;
  top: 276px;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 770px) {
  .addFlowerForm__span-userName-text {
    top: 363px;
  }
}

@media screen and (max-width: 770px) {
  .addFlowerForm__span-email-text {
    top: 411px;
  }
}

@media screen and (max-width: 500px) {
  .addFlowerForm__span-userName-text {
    top: 181px;
    right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .addFlowerForm__span-email-text {
    top: 228px;
    right: 30px;
  }
}

.addFlowerForm__text-error {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .addFlowerForm__text-error {
    font-size: 12px;
    line-height: 15px;
  }
}
